*{
    border: 0px solid;
    
     
   
  

}

@font-face {
    font-family: "Zubilo"; 
    src: url("Zubilo.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
 section>*{
    display: inline-block;
 }
.carte {
    background-color: #b6d2ea;
margin-bottom: 20px;
 }

.grand-format .nom{
    font-size: clamp(1rem, 9vw, 90px);
    padding: 0;
    margin: 0;
  
    
    
}
.grand-format .age{
    padding: 0;
    margin: 0;
    font-size: clamp(1rem, 6vw, 45px);
   
    
   
}
.grand-format .film{
    padding: 0;
    margin: 0;
    font-size: clamp(1rem, 5vw, 30px);
    padding-top: 3%;
    
    
   
}
.grand-format .description{
    width: 50%;
    display: inline-block;
    font-size: clamp(1rem, 4vw, 25px);
    padding-left: 5%;
    font-family: poppins;
    
}
.grand-format .date{
    width: 50%;
    display: inline-block;
    font-size: clamp(1rem, 4vw, 25px);
    padding-left: 5%;
    font-family: poppins;
    
}
.grand-format .famille{
    width: 50%;
    font-size: clamp(1rem, 3vw, 20px);
    font-family: poppins;
}
.grand-format .roles{
    width: 50%;
    font-size: clamp(1rem, 3vw, 20px);
    font-family: poppins;
}
.grand-format img{
    border-radius: 600px;
    width: 25%;
    height: 25%;
    
    
}
.image{
    width: 25%;
    margin-left: 6px;
    height: 25%;
}

.haut{
    width: 100%;
    display: inline-block;
    margin-top: 0%;
    padding: 2%;
   
}
.titre {
    display: inline-block;
    margin-left: 20%;
    margin-right: 3%;
    margin-top: 0%;
    
}

.milieu{
display: flex;
padding-top: 10px;
}

.bas{
    display: flex;
}

button{
    font-size: 1.5rem;
    z-index: 1;
    position: fixed;
    padding: 15px;
    border-radius: 25px;
    color: rgb(179, 255, 255);
    background-color: black;

  }
button:hover{
    background-color: rgb(117, 117, 117);
}
.petit-format{
    width:20ch ;
    
 
}
.grand-format{
    width: 100%;
    
}
.petit-format .milieu{
    display: none;

}
.petit-format .bas{
    display: none;
}
.petit-format img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    border-radius: 600px;
}
.petit-format .haut {
    width: 100%;
}
.petit-format .titre {
    width: 90%;
    margin: 5%;

}


.petit-format .age {
   display: none;
}


body{
    display: flex;
    gap: 10px;
}

.mosaique{
    flex-wrap: wrap;
}

.petit-format .titre *{
    text-align: center;
}
.grand-format .haut {
    display: flex;
}
.titre{
    font-family: "Zubilo",sans-serif;
    
}
.grand-format{
    border-radius: 5vw;
}
.petit-format{
    border-radius: 2vh;
}
@media screen and (min-width: 800px) {
    .grand-format {
        width: 800px;
        min-height: 450px;
        margin: auto;
        display: block; 
        border-radius: 50px;
    }}

